<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/public/styles/restaurant.css" />
</head>
<body>
    <%- include('../includes/header') %>
    <%- include('../includes/sidebar') %>
    <main>
        <h1>TITLE OF THE RESTAURANT <%= restaurant.name %></h1>
        <p><%= restaurant.cuisine %> | <%= restaurant.address %></p>
        <p>Description of the restaurant</p>
        <p><a href="<%= restaurant.website %>">View Website</a></p>
    </main>
</body>
</html>